body
{
    background: rgb(0, 160, 204);
    

   
}

header
{

    display: block;
    background-color:rgb(0, 160, 204);
    height: 50px;
    width: 100%;
    border: rgb(23, 213, 247) 1px solid;
    text-align: center;
    text-shadow: rgb(125, 228, 247) 1px 1px;
    font-size:30px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

header h1
{
    margin:0;
    padding:0;
}

.columns-container
{
    display:grid;
    justify-content: start;
    grid-template-columns: 100px repeat(3,180px);
    grid-auto-rows: minmax(80vh, auto);
    grid-column-gap: 10px;

     /* border:red 1px dotted; */
}

.column
{
    /* display:grid; */
    border:1px rgb(23, 213, 247) solid;
    margin:0;
    background-color: rgb(0, 160, 204);
    height:inherit;
    width:180px;
    text-align: center;
    border-radius: 5px;
    /* grid-row-gap: 5px; */
    
}

.column h1
{
    margin: 0 auto;

    text-decoration: underline black;
    /* border:red solid 1px; */
    width:80%;
}

.fill
{
    background-color: blanchedalmond;
    position: relative;
    height: 50px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;

    box-shadow: 1px 1px black;
    visibility: visible;
    border-radius: 5px;

    margin:0px;
    padding:0px;

    box-sizing: border-box;
}

.nav
{
    border:1px dotted rgb(23, 213, 247);
}

.empty
{
    display: inline-block;
    /* visibility: hidden; */
    height: 60px;
    width: 160px;
    margin:10px;
    border:1px rgb(23, 213, 247) solid;
    background-color:rgb(0, 160, 204);

    box-sizing: border-box;
}

.hovered
{
    /* background: #f4f4f4; */
    border-style: dashed;
}

.invisible
{
    display: none;
}