body
{
    /* display: grid;
    */
    background: rgb(0, 160, 204); 
    margin:0;
    padding:0;
}

.container
{
    display: block;
    height:100px;
}
.header-slide
{
    position: fixed;
    height:100px;
    width:100%;
    border-bottom:black 1px solid;
    margin-bottom: 10px;
    background: rgb(0, 160, 204);

    z-index: 5;
}

header
{
    display: block;
    background-color:rgb(0, 160, 204);
    height: 50px;
    width: 250px;
    border: rgb(23, 213, 247) 1px solid;
    text-align: center;
    text-shadow: rgb(125, 228, 247) 1px 1px;
    font-size:30px;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    /* overflow: hidden; */
}

header h1
{
    margin:0;
    padding:0;
}

.tops
{
    display: block;
    position:fixed;
    height:30px;
    width: 100%;
    background-color: rgb(0, 160, 204);
    margin-top: 1px;


    z-index: 5;
    
}

.button
{
    display: inline-block;
    /* position:fixed; */
    background:rgb(0, 160, 204) ;
    border: rgb(23, 213, 247) 1px solid;
    width:200px;
    /* float:left; */
    margin-left:10px;
    outline:none;
    border-radius: 0 0 5px 5px;
}

.button:hover
{
    background-color: rgb(23, 213, 247);
} 

.nav
{
    
    /* display: inline-grid; */
    display: block;
    position:fixed;
    height: 285px;
    width: 200px;
    border:1px dotted rgb(23, 213, 247);
    box-sizing: border-box;
    margin-top:30px;
    margin-left: 10px;
    background: rgb(0, 160, 204);

    z-index:5;
}

#nav-card
{
    margin: 0 0 0 18px;
}

form
{
    display: block;
    height: max-content;
    margin-top:10px;
    /* border: red 1px solid; */
}

label
{
    display: block;
    width:100px;
    margin:0 auto;
    text-align: center;
    
}

input
{
    display: block;
    width:100px;
    margin: 0 auto;
    /* margin-bottom:50px; */
}

#make-card
{
    display: block;
    margin:10px auto;
}

#another-container
{
    margin-left:40px;
}

#columns-container
{
    
    /* margin-left:220px; */
    margin-top:31px;
    display:inline-grid;
    grid-template-columns: repeat(4,180px);
    grid-auto-rows: minmax(80vh, auto);
    grid-column-gap: 10px;
    padding-right:20px;
    padding-bottom:15px;
    height:500px;

     /* border:red 1px dotted; */
}


.column
{
    /* display:grid; */
    border:1px rgb(23, 213, 247) solid;
    margin:0;
    background-color: rgb(0, 160, 204);
    height:inherit;
    width:180px;
    text-align: center;
    border-radius: 5px;
    /* grid-row-gap: 5px; */
    
}

.column h1
{
    margin: 0 auto;
    text-decoration: underline black;
    /* border:red solid 1px; */
    width:80%;
}

.fill
{
    background-color: blanchedalmond;
    position: relative;
    height: 50px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;

    box-shadow: 1px 1px black;
    visibility: visible;
    border-radius: 5px;

    margin:0px;
    padding:0px;

    box-sizing: border-box;
}



.empty
{
    display: inline-block;
    /* visibility: hidden; */
    height: 60px;
    width: 160px;
    margin:5px;
    border:1px rgb(23, 213, 247) solid;
    background-color:rgb(0, 160, 204);
    border-radius: 5px;
    box-sizing: border-box;
}

.hovered
{
    /* background: #f4f4f4; */
    border-style: dashed;
}

.invisible
{
    display: none;
}